@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<p>This application has been created by <b>Christopher Smith</b>, for the CUBE Full Stack Developer App Creation Assessment.</p>
<p>The following requirements have been implemented:</p>

<ol>
    <li>Converts temperature values between Celsius, Kelvin and Fahrenheit.</li>
    <li>Allows users to undertake the conversion via a browser UI.</li>
    <li>Allows the customer to integrate the service into their own products by calling the service API directly.</li>
    <li>Persists an audit trail of who converted what when.</li>
</ol>